<footer class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 pb-8 pt-16 sm:px-6 lg:px-8 lg:pt-24">
      <div class="text-center">
        <h2 class="text-3xl font-extrabold text-gray-900 sm:text-5xl">Rencontrez Arcla</h2>
  
        <p class="mx-auto mt-4 max-w-sm text-gray-500">
          Nous sommes impatients de discuter de vos idées de style uniques. 
          Utilisez notre formulaire de contact pour planifier une consultation personnalisée et découvrez comment "Créa d'Arcla" peut donner vie à vos rêves vestimentaires.
        </p>
  
        <a
          href="#"
          class="mt-8 inline-block rounded-full border border-indigo-600 px-12 py-3 text-sm font-medium text-indigo-600 hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring active:bg-indigo-500"
        >
          Whatsapp : +242 05 314 4886
        </a>
      </div>
  
    </div>
  </footer>